directory = /home/phetus/tor/incomplete
session.path.set = ~/tor/session

# gets the full path of data of a torrent (it's a workaround for the possibly empty 'd.base_path' attribute)
method.insert = d.get_data_full_path, simple, "branch=((d.is_multi_file)),((cat,(d.directory))),((cat,(d.directory),/,(d.name)))"


# Point to a directory where rTorrent will save the torrent files. You
# may also use relative paths if you want different session
# directories depending on where you execute rtorrent.

schedule = watch_directory_tor, 5, 10, "load.start=~/tor/jundi/*.torrent,d.set_custom1=/home/phetus/tor"
# gets the full path of data of a torrent (it's a workaround for the possibly empty 'd.base_path' attribute)
method.set_key = event.download.finished,move_complete,"execute2=mv,-u,$d.get_data_full_path=,~/tor/; d.directory.set=~/tor/"
